:root {
  font-family: system-ui, Arial, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
}

.app {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

.app.light {
  background-color: #ffffff;
  color: #000000;
}

.app.dark {
  background-color: #1e1e1e;
  color: #ffffff;
}

button {
  margin: 4px;
  padding: 6px 10px;
  cursor: pointerl;
}

input {
  padding: 6px;
  margin-right: 6px;
}